[
{tcp_pipe,
    [
    {one, [
        {type,accept},
        {port, 7771},
        {options,[]},
        {sub_pipes,[]}]
    },
    
    {two, [
        {type,connect}, 
        {address,{127,0,0,1}}, 
        {port, 7772}, 
        {options,[]}, 
        {timeout,infinity}, 
        {sub_pipes,[]}]
    },

    {socket_dist, [
        {is_socket_dist, true}, 
        {mm_child_side, two}, 
        {type, accept},
        {port, 7775}]
    }
    ]
}
].

