[
{tcp_pipe,
    [
    {one, [
        {type,accept},
        {port, 7771},
        {options,[binary, {reuseaddr, true}, {active, once}]},
        {sub_pipes,[]}]
    },
    
    {two, [
        {type,connect_x}, 
        {options,[binary, {reuseaddr, true}, {active, once}]}, 
        {timeout,infinity}, 
        {sub_pipes,[http_proxy]}]
    },

    {socket_dist, [
        {is_socket_dist, true}, 
        {mm_child_side, two}, 
        {type, accept},
        {port, 7772}]
    }

    ]
}
].

