[
{tcp_pipe,
    [
    {one, [
        {type,accept},
        {port, 7771},
        {options,[]},
        {sub_pipes,[]}]
    },
    
    {two, [
        {type,connect}, 
        {address,{127,0,0,1}}, 
        {port, 7772}, 
        {options,[]}, 
        {timeout,infinity}, 
        {sub_pipes,[]}]
    }
    ]
}
].

